svg(
  xmlns="http://www.w3.org/2000/svg"
  style="display:none"
)
  include ../../assets/icons/icon-light-mode.svg
  include ../../assets/icons/icon-dark-mode.svg
  include ../../assets/icons/icon-close.svg
  include ../../assets/icons/icon-settings.svg
