@use '../settings' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family;
  font-size: .95rem;
  color: var(--text-primary);
  background: var(--bg-surface);

  th, td {
    padding: .75rem;
    border: 1px solid var(--border-interactive);
    vertical-align: middle;
    text-align: left;
  }

  thead {
    background: var(--text-secondary);

    th {
      font-weight: 700;
    }
  }

  tbody tr:hover {
    background: var(--text-primary);
  }

  .table-sm th, .table-sm td {
    padding: .4rem .6rem;
  }

  .table-striped tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, .02);
  }
}
